.card {
    border-radius: 12px;
    height: 10rem;
    width: 20rem;
    margin: 1rem;
}

.card a{
    text-decoration: none;
    color: black;
}

.card:hover{
    width: 24rem;
    height: 14rem;
}

.card card-title{
    margin-bottom: 0%;
    position: fixed;
}